<h1>Customer</h1>
<table>
  <tr>
    <td>ID</td>
    <td><%= @customer.id %></td>
  </tr>
  <tr>
    <td>E-mail</td>
    <td><%= @customer.email %></td>
  </tr>
  <tr>
    <td>デフォルト決済手段</td>
    <td><%= @customer.default_source %></td>
  </tr>
  <tr>
    <td>登録決済手段</td>
    <td><%= @customer.sources.data.length %></td>
  </tr>
</table>
<hr>
<h2>決済手段</h2>
<table class="charges">
  <thead>
  <tr>
    <td>ID</td>
    <td>ブランド</td>
    <td>カード番号の最後4桁</td>
    <td>有効期限</td>
    <td></td>
  </tr>
  </thead>
  <tbody>
  <% @customer.sources.each do |source| %>
    <tr>
      <td><%= source.id %></td>
      <td><%= source.brand %></td>
      <td><%= source.last4 %></td>
      <td><%= source.exp_month %>/<%= source.exp_year %></td>
      <td><%= link_to '削除', customer_remove_card_path(@customer.id, card_id: source.id), method: :post %></td>
    </tr>
  <% end %>
  </tbody>
</table>

<hr>
<div class="StripeElement-frame">
<%= form_tag customer_add_card_path(@customer.id), method: :post, id: 'payment-form' do %>
  <div class="form-row">
    <label for="card-element">
      Credit or debit card
    </label>
    <div id="card-element">
      <!-- A Stripe Element will be inserted here. -->
    </div>

    <!-- Used to display form errors. -->
    <div id="card-errors" role="alert"></div>
  </div>

  <button>Submit Payment</button>
<% end %>
<div>

<h2>Subscription</h2>
<div>
<table class="charges">
  <thead>
    <tr>
      <td>ID</td>
      <td>Status</td>
      <td>Product</td>
      <td>Price</td>
      <td>現在の購読期間の開始時刻</td>
      <td>現在の購読期間の終了時刻</td>
      <td></td>
    </tr>
  </thead>
  <tbody>
    <% @subscriptions.each do |subscription| %>
    <tr>
      <td><%= link_to subscription.id, subscription_path(subscription.id) %></td>
      <td><%= subscription.status %></td>
      <td><%= subscription.items.first.price.product %></td>
      <td><%= subscription.items.first.price.id %></td>
      <td><%= Time.at(subscription.current_period_start) %></td>
      <td><%= Time.at(subscription.current_period_end) %></td>
      <td><%=link_to('解約', subscription_path(subscription.id), method: :delete, ) if subscription.status == 'active' %></td>
    </tr>
    <% end %>
  </tbody>
</table>
</div>

<script src="https://js.stripe.com/v3/"></script>
<script type="text/javascript">
  (function () {
    var stripe = Stripe('<%= Rails.configuration.stripe[:publishable_key] %>');
    var elements = stripe.elements();
    var style = {
      base: {
        color: '#32325d',
        fontFamily: '"Helvetica Neue", Helvetica, sans-serif',
        fontSmoothing: 'antialiased',
        fontSize: '16px',
        '::placeholder': {
          color: '#aab7c4'
        }
      },
      invalid: {
        color: '#fa755a',
        iconColor: '#fa755a'
      }
    };
    var card = elements.create('card', { style: style, hidePostalCode: true });

    card.mount('#card-element');

    card.addEventListener('change', function (event) {
      var displayError = document.getElementById('card-errors');
      if (event.error) {
        displayError.textContent = event.error.message;
      } else {
        displayError.textContent = '';
      }
    });

    var form = document.getElementById('payment-form');
    form.addEventListener('submit', function (event) {
      event.preventDefault();

      stripe.createToken(card).then(function (result) {
        if (result.error) {
          // Inform the user if there was an error.
          var errorElement = document.getElementById('card-errors');
          errorElement.textContent = result.error.message;
        } else {
          // Send the token to your server.
          stripeTokenHandler(result.token);
        }
      });
    });

    function stripeTokenHandler(token) {
      // Insert the token ID into the form so it gets submitted to the server
      var form = document.getElementById('payment-form');
      var hiddenInput = document.createElement('input');
      hiddenInput.setAttribute('type', 'hidden');
      hiddenInput.setAttribute('name', 'stripeToken');
      hiddenInput.setAttribute('value', token.id);
      form.appendChild(hiddenInput);

      // Submit the form
      form.submit();
    }
  })();
</script>

