<h1>Subscription List</h1>
<table class="charges">
  <thead>
    <tr>
      <td>ID</td>
      <td>Status</td>
      <td>Customer</td>
      <td>Product</td>
      <td>現在の購読期間の開始時刻</td>
      <td>現在の購読期間の終了時刻</td>
      <td></td>

    </tr>
  </thead>
  <tbody>
    <% @subscriptions.each do |subscription| %>
    <tr>
      <td><%= link_to subscription.id, subscription_path(subscription.id) %></td>
      <td><%= subscription.status %></td>
      <td><%= subscription.customer.email %></td>
      <td><%= subscription.items.first.price.product %></td>
      <td><%= Time.at(subscription.current_period_start) %></td>
      <td><%= Time.at(subscription.current_period_end) %></td>
      <td><%=link_to('解約', subscription_path(subscription.id), method: :delete, ) if subscription.status == 'active' %></td>
    </tr>
    <% end %>
  </tbody>
</table>
