<article>
  <% if flash[:error].present? %>
    <div id="error_explanation">
      <p><%= flash[:error] %></p>
    </div>
  <% end %>
</article>

<h1>払い戻しますか？</h1>
<%= form_tag refunds_path do %>
  <%= hidden_field_tag :charge_id, @charge.id %>
  <% balance = @charge.amount - @charge.amount_refunded %>
  <%= number_field_tag :refund_amount, balance, min: 10, max: balance, step: 10 %>
  <button type="submit">払い戻す</button>
<% end %>
<p>
<pre>
  <code>
  <%= @charge %>
  </code>
</pre>
</p>

